/* Date 8-3-2021 */
/* Note: The down written fonts will not work if you had not installed them or not imported their link from google fonts or from any other websites */
.f1{font-family: 'Stick', sans-serif; font-size: 37.9px;line-height: 1em;}
/* 1cm = 	37.7952755906 pixels */
.f2{font-family: 'Redressed', cursive; font-size: 29px;line-height: 0.7em;font-weight: lighter;font-style: oblique;}