/* Date 10-3-2021  */
/* header {
    border: 2px solid red;
    margin: auto;
    width: 15%;
} */

img {
    width: 2cm;
    margin: auto;
    display: block;
}

h3 {
    margin: 0px;
    font-family: fantasy;
    text-align: center;
}